/* google fonts */
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

html, body {
  height: 100%;
}

body {
  font-family: 'Lusitana', serif;
  color:#16161E;
}

a {
  color: #16161E;
  text-decoration: underline;
}

a:hover {
  color: #FD252A;
}

button {
  font-size: 21px;
  font-family: 'Open sans condensed';
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 30px;
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-radius: 10px;
}

button.facebook {
  background-color: #3B5998;
  color: #FFF;
  padding-left:40px;
}

.one-whole {
  width: 100%;
}

.five-sixths {
   width: 84%;
}

.three-fourths {
  width: 75%;
}

.two-thirds {
  width: 66%;
}

.half {
  width: 48%;
}

.third {
  width: 31%;
}

.fourth {
  width: 25%
}

.sixth {
  width: 16%
}


.inline li{
  display: inline;
}

/* Overrides on ionic styling */
.bar {
  position: relative;
  display: block;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.navbar {
  font-weight: 600;
  background-color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #16161E;
  font-size: 20px;
  text-decoration: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #00CAFF;
}


.navbar-default .navbar-toggle, {
  border-color: #FFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #FFF;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #000;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-form {
  margin-top: 10px;
  font-family: 'Lusitana', serif;
}

.navbar-form input {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #CCC;
  padding: 3px 10px 3px 25px;
  font-weight: 400;
  font-size: 16px;
}

.navbar-form input:focus {
  border-color: #00CAFF;
}

.navbar-form .glyphicon {
  left: 25px;
  top: 2px;
}

.sign-in {
  /*background: url('http://www.tate.org.uk/art/images/work/N/N04/N04103_10.jpg') no-repeat center center;*/
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.sign-in .center-block {
  margin-top: 30%;
  background: rgba(255, 255, 255, 0.5);
  padding: 50px;
}

.search-result {
  margin-bottom: 20px;
}

.search-result img{
  margin-right: 2%
}

footer {
  font-weight: 600;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 0;
  font-size: 15px;
  background-color: rgba(255,255,255,0.5);
  /*background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3));*/
  color: #16161E;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #e7e7e7;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
/* This is for scrolling paintings horizontally*/

.wide-as-needed {
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}


.scroll {
  min-width: 100%;
}

.selected-class-name {
  opacity: 0.4;
}

footer a {
  color: #16161E;
  text-decoration: underline;
}

footer a:hover {
  color: #00CAFF;
}

footer, .page-wrap:after {
  height: 60px;
}

/**/

/* Autocomplete styling */
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}
.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999
}
.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}
.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}
.tt-suggestion p {
    margin: 0;
}

