/* google fonts */
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

html, body {
  height: 100%;
}

body {
  font-family: 'Lusitana', serif;
  color:#16161E;
}

a {
  color: #16161E;
  text-decoration: underline;
}

a:hover {
  color: #00CAFF;
}

button {
  font-size: 21px;
  font-family: 'Open sans condensed';
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 30px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #00CAFF;
  color: white;
}

button:hover {
  opacity: 0.5;
}

button.facebook {
  background-color: #3B5998;
  color: #FFF;
  padding: 10px 20px;
  margin-top:10px;
}

button.facebook i{
  border-right: 1px solid #FFF;
  padding-right:10px;
  margin-right: 10px;
}

.one-whole {
  width: 100%;
}

.five-sixths {
   width: 84%;
}

.three-fourths {
  width: 75%;
}

.two-thirds {
  width: 66%;
}

.half {
  width: 48%;
}

.third {
  width: 31%;
}

.fourth {
  width: 25%
}

.sixth {
  width: 16%
}


.inline li{
  display: inline;
}

/* Overrides on ionic styling */
.bar {
  position: relative;
  display: block;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -100px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.ion-div {
  margin: 20px 0;
}

.ion-div img{
  width: 48%;
}

.art-info {
  margin-left: 2%;
}

.navbar {
  font-weight: 600;
  background-color: rgba(255,255,255,0.6);
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #16161E;
  font-size: 20px;
  text-decoration: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #00CAFF;
}


.navbar-default .navbar-toggle, {
  border-color: #FFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #FFF;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #000;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}


.navbar-form {
  margin-top: 10px;
  font-family: 'Lusitana', serif;
  /*width:410px;*/
}

.navbar-form .form-group {
  width: 100%;
}

.navbar-form .form-group span {
  /*display: block !important;*/
  width: 100%;
}

.navbar-form input {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #CCC;
  padding: 3px 10px 3px 10px;
  font-weight: 400;
  font-size: 16px;
  width:100%;
}

.navbar-form input:focus {
  border-color: #00CAFF;
}

.nav button.facebook {
  font-size: 15px;
  padding: 5px 14px;
  border-radius: 7px;
}

/*.navbar-form .glyphicon {
  left: 25px;
  top: 2px;
}*/

.my-tooltip {
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  background: #00CAFF;
  border-radius: 50%;
  font-size: 14px;
  padding: 2px 7px 2px 7px;
  bottom: 3px;
  position: relative;
  color: white;
}

.my-tooltip:hover {
  color:#FFF;
  text-decoration: none;
}

.sign-in {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url('light.jpg') no-repeat center center;
  background-size: cover;

}

.main .center-block {
  padding-top: 60px;
  margin-bottom: 70px;
}

.allSearchResults {
  -webkit-column-count: 3;
  column-count: 3;
}

.search-result {
  margin-bottom: 50px;
  display: inline-block;
}

.search-result img{
  margin-right: 2%
}

.artInfo button{
  margin-top:20px;
}

.pagination-wrapper {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom:30px;
}

.pagination-wrapper ul {
  margin: 0 auto;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #00CAFF;
  border-color: #00CAFF;
}

.pagination > li > a, .pagination > li > span {
  color: #00CAFF;
  padding: 10px 30px;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #00CAFF;
  text-decoration: underline;
  background-color: #fff;
}

footer {
  font-weight: 600;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 0;
  font-size: 15px;
  background-color: rgba(255,255,255,0.5);
  /*background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3));*/
  color: #16161E;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #e7e7e7;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}


.scroll {
  min-width: 100%;
}

.selected-class-name {
  opacity: 0.4;
}

footer a {
  color: #16161E;
  text-decoration: underline;
}

footer a:hover {
  color: #00CAFF;
}

footer, .page-wrap:after {
  height: 100px;
}

/**/

/* Autocomplete styling */
.tt-query,
.tt-hint {
    width: 100%;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    /*border-radius: 8px;*/
    outline: none;
}
.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999
}
.tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}
.tt-suggestion p {
    margin: 0;
}


@media only screen
and (min-width: 992px) {
  .navbar-collapse {
    width: 83.333333%;
  }
}

@media only screen
and (max-width: 768px) {
  .allSearchResults {
    -webkit-column-count: 2;
    column-count: 2;
  }
  .nav,
  .nav button.facebook {
    padding-left: 15px;
  }

  .nav > li {
    border-top: 1px solid #e7e7e7;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }

  .pagination > li > a, .pagination > li > span {
    padding: 5px 10px;
  }


}

// Overrides ionic layout for desktop
@media only screen
and (min-width : 321px) {

}

@media only screen
and (max-width: 320px) {
  .allSearchResults {
    -webkit-column-count: 1;
    column-count: 1;
  }
  /* This is for scrolling paintings horizontally*/
  .wide-as-needed {
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .container {
    padding: 0;
  }
  .ion-div {
    width: 350px;
    height: 390px;
    display: inline-block;
  }
  .ion-div img{
    width: 100%;

  }
  .rec-image {
    width: 350px;
    height:390px
  }
  .pagination > li > a, .pagination > li > span {
    padding: 5px;
    font-size: 16px;
  }
}

