<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
   <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />

    <!-- Styles / fonts -->

    <!-- <link href="lib/ionic/css/ionic.css" rel="stylesheet"/> -->

    <link rel="stylesheet" type="text/css" href="styles/fonts.css" />

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
  </head>
  <body ng-app="dangerousWrenchApp" animation="slide-left-right-ios7" >



    <div class="page-wrap">
      <div class='navbar navbar-default' role="navigation" ng-controller="navigationController">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-show="loggedIn">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a ng-href="#" class="navbar-brand">Art Safari</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div ng-controller="MainCtrl">

            <ul class="nav navbar-nav navbar-right" ng-show="loggedIn">
              <li art-search></li>
              <li><a ng-click="goToRecs()">Browse</a></li>
              <li><a ng-click="goToLikes()">Your Likes</a></li>
            </ul>
          </div>

          </div>

        </div>

      </div>


      <div ng-view=""></div>
    </div>


    <!--Facebook SDK-->
    <div id="fb-root"></div>
    <script>
      // window.fbAsyncInit = function() {
      //   console.log('inside asyncINIT')
      //   // init the FB JS SDK
      //   FB.init({
      //     appId      : '817757534922398',                        // App ID from the app dashboard
      //     channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel file for x-domain comms
      //     status     : false,                                 // Check Facebook Login status
      //     xfbml      : true                                  // Look for social plugins on the page
      //   });

      //   // Additional initialization code such as adding Event Listeners goes here
      // };

      // Load the SDK asynchronously
      (function(d, s, id){
        console.log('hiiii')
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

      
    </script>

    <footer>
      <div class="container">
        <p class="text-center">Built in 2014 at <a href="http://www.hackreactor.com/">Hack Reactor</a> by Charles Wang, Mike Lam, Wai-Yin Kwan, Kelly Walker, and Ben Rowles.</p>
        <p class="text-center">Artwork courtesy of <a href="https://github.com/tategallery/collection">the Tate Collection.</a></p>
        <div class="clearfix"></div>
      </div>
    </footer>



    <!-- build:js(.) scripts/vendor.js
    <!-- bower:js -->
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/es5-shim/es5-shim.js"></script>
    <!-- // <script src="../lib/angular/angular.js"></script> -->
    <script src="../lib/json3/lib/json3.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../lib/angular-resource/angular-resource.js"></script>
    <script src="../lib/angular-cookies/angular-cookies.js"></script>
    <script src="../lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="../lib/angular-animate/angular-animate.js"></script>
    <script src="../lib/angular-touch/angular-touch.js"></script>
    <script src="../lib/angular-route/angular-route.js"></script>
    <script src="../lib/typeahead.js/dist/typeahead.bundle.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/artController.js"></script>
    <script src="scripts/controllers/navigationController.js"></script>
    <script src="scripts/controllers/mainController.js"></script>
    <script src ="scripts/controllers/artRecommend.js"></script>
    <script src="scripts/controllers/searchResultsController.js"></script>
    <script src="scripts/controllers/userPageController.js"></script>
    <script src="scripts/services/keywordSearchService.js"></script>
    <script src="scripts/services/artServices.js"></script>
    <script src="scripts/services/userServices.js"></script>
    <script src="scripts/services/likebuttonService.js"></script>
    <script src="scripts/services/autocompleteService.js"></script>

  </body>

</html>
