<div class="container">
	<img class="artImage one-whole" src="{{work.url}}">

	<div class="artInfo">
			<div class=" pull-left">
				<h3>{{work.title}}</h3>
				<h4>Artist: {{work.artist}}</h4>
				<h4>Year: {{work.year}}</h4>
			</div>
			<!-- the action link below will send the ID to the server to create the user-art edge -->
			<button class="likeButtonClass pull-right" ng-click="likeButton.like({{work.id}})" ng-show="loggedIn">Like</a>
			<button class="likeButtonClass" ng-click="like()">Like</a>
		  <button class="unlikeButtonClass" ng-click="unlike()">Unlike</a>
	</div>


</div>