
<div class='sign-in'>
	<div class="row">
	  <div class="center-block text-center three-fourths">
	    <h1>Welcome To ArtSafari</h1>
	    <div class="clearfix"></div>

	    <h3>Discover art based on keywords, image composition, and favorites from users who share your tastes.</h3>
	    <!-- <button ng-click="logout()">Logout</button> -->
	  	<button class="facebook" ng-click="checkLoginState()"><i class="fa fa-facebook"></i>Log In via Facebook</button>

	  <div id="status"></div>
	  </div>

	</div>
</div>
