
<div class='sign-in'>
	<div class="row">
	  <div class="center-block text-center half">
	    <h2>Welcome To ArtSafari</h2>
	    <div class="clearfix"></div>
	    <p>Discover art based on keywords, image composition, and favorites from users who share your tastes.</p>
	    <button>Log In with Facebook</button>

<!-- 	    <form>
	      <input typeahead type="text" class="searchBar searchBarInput" ng-model="searchterms" placeholder="Enter search terms...">
	      <button class="searchBar searchBarButton"ng-click="displayResults()">Search!</button>
	    </form> -->
	  </div>
	  <div id="status"></div>
	   <button ng-click='goToLikes()'>Your Like Page</button>
	  <button ng-click="checkLoginState()">Log In via Facebook</button>
	</div>
</div>
